body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
  transition: background-image 0.8s ease;
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  font-size: 80%;
  text-align: right;
  color: darken($color-light, 20%);

  .rss {
    display: block;
    width: 80px;
    height: 50px;
    background: url('../assets/svg/logo_rs_school_js.svg') no-repeat center center;
  }

  a {
    font-size: 80%;
    color: darken($color-light, 20%);
  }

  @include md {
    display: none;
  }
}
