.arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: url('../assets/svg/arrow.svg') center center no-repeat;
  background-size: cover;

  @include sm {
    top: 70%;
  }

  &_next {
    right: 30px;
    transform: translate(0, -50%);

    @include sm {
      right: 10px;
    }
  }
  &_prev {
    left: 30px;
    transform: translate(0, -50%) rotate(180deg);

    @include sm {
      left: 10px;
    }
  }
}
